.Carousel__container {
    display: flex;
    height: 300px;
    align-items: center;
    overflow-x: scroll;
    padding: 0 10px;
    width: 100%;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;;
}

.Carousel__container::-webkit-scrollbar {
    display: none;
}