.Category__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Category__title {
    width: fit-content;
    padding: 3px 0;
    margin: 20px 0 0 15px;
    color: #4AC7EE;
    border-bottom: 3px solid #F9C80E;
}