.Footer__container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    
    bottom: 0;

    background-color: #081845;
    color: #FFF;
}

.Footer__container p {
    font-weight: 300;
    margin: 10px;
}

.Footer__container p:hover {
    color: #F9C80E;
}