.Footer__container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-top: 1em;
    bottom: 0;

    background-color: #081845;
    color: #FFF;
}

.Footer__container p {
    font-weight: 300;
    margin: 10px;
}