body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background: #FFF;
  }
  
* {
    box-sizing: border-box;
}

.Carousel__list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
    scrollbar-width: none;
}

.Carousel__list-element {
  float: left;
}

.Carousel__container,
.Category__container {
  background-color: #eaeaea;
}

.NotFound__message {
  color: #4AC7EE;
}